<header class="app-header">
  <div class="app-header__brand">SidequestLab</div>

  <nav class="app-header__nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      >Accueil</a
    >
    <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    <!-- <a routerLink="/memo-quiz" routerLinkActive="active">Memo-Quiz</a> -->
  </nav>

  <div class="app-header__auth">
    <!-- Pour plus tard : bouton/login -->
    <button type="button" class="app-header__login-btn">Se connecter</button>
  </div>
</header>
