<mat-toolbar class="app-header app-header--primary" role="navigation">
  <!-- Brand -->
  <!-- <button
    mat-button
    class="app-header__brand nav-link"
    routerLink="/"
    routerLinkActive="nav-link--active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span>SidequestLab</span>
  </button>

  <span class="app-header__spacer"></span> -->

  <!-- Navigation principale -->
  <nav class="app-header__nav" aria-label="Navigation principale">
    <button
      mat-button
      class="nav-link"
      routerLink="/"
      routerLinkActive="nav-link--active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Accueil
    </button>

    <button mat-button class="nav-link" routerLink="/profil" routerLinkActive="nav-link--active">
      À propos
    </button>

    <button mat-button class="nav-link" routerLink="/portfolio" routerLinkActive="nav-link--active">
      Portfolio
    </button>

    <button mat-button class="nav-link" routerLink="/memo-quiz" routerLinkActive="nav-link--active">
      MémoQuiz
    </button>
  </nav>

  <!-- Auth -->
  <div class="app-header__auth">
    @if (authenticated()) {
      <button mat-flat-button color="accent" class="app-header__login-btn" type="button" (click)="logout()">
        Déconnexion
      </button>
    } @else {
      <button
        mat-flat-button
        color="accent"
        class="app-header__login-btn"
        type="button"
        (click)="openLoginDialog()"
      >
        Se connecter
      </button>
    }
  </div>
</mat-toolbar>
